html,
body {
  height: 100vh;
  overflow: auto;
  position: "relative";
}
.App {
  max-width: 100vw;
  overflow: scroll;
  height: 100vh;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}
.containerSnap {
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}
